body {
    font-family: Arial, sans-serif;
    background-color: #48D1CC;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

p {
    font-size: 12px;
}

h1 {
    font-size: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="number"],
input[type="date"] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    border: none;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}

input[type="number"]:focus,
input[type="date"]:focus {
    outline: none;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
}

button {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #48D1CC;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #40C4B7;
}

button:focus {
    outline: none;
}

#salary-error, #endDate-error, #days-message {
    color: #48D1CC;
    font-size: 12px;
}

